# Dependencies
node_modules/
.pnp
.pnp.js

# Vercel
.vercel/
.vercelignore

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Env
.env
.env.local
.env.production.local

# Python (kalau pernah jalanin server)
__pycache__/
*.pyc
